.create-lead-container{
    box-shadow: 0px 0px 36px rgba(34, 34, 34, 0.459);
    border: 1px solid #d4d5d6;
    background: white;
    height: 100%;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

.create-lead-container-header{
    width: 100%;
    background: #ff72a6;
    padding: 1.5em;
    border-radius: 10px 10px 0px 0px;
    margin-top:-10px;

}

.create-lead-container-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.create-lead-form{
    display: flex;
    flex-direction: column;
    padding: 5px 25px 25px 25px;
    width: 100%;
}

.form-lead-top, .form-lead-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-lead-bottom{
    align-items: center;
}

.form-lead-top > div {
    margin: 15px;
}

.lead-create-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.lead-create-col-header{
    margin-bottom: 10px;
}

.form-chunk{
    margin-bottom: 30px;
}