.table-index-header{
    height: 50px;
    width: 475px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ff72a6;
    justify-content: space-between;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.048),
    0 2px 2px rgba(0, 0, 0, 0.039),
    0 6px 5px rgba(0, 0, 0, 0.031);
    z-index: 3;
}


.new-lead-button, .close-modal-button{
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50%;
    margin-top: -25px;
    margin-right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.199),
    0 2px 2px rgba(0, 0, 0, 0.281),
    0 6px 5px rgba(0, 0, 0, 0.158);
    border: 1px solid #eeeeee69;
}

.close-modal-button{
    transform: rotate(45deg);
    z-index: 500;
}

.close-modal-button:hover{
    transform: rotate(45deg) scale(1.03),
}

.new-lead-button:hover{
    transform: scale(1.03);
}


.lead-index-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 65px;
    cursor:pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
    border-right: 1px solid #F8F9FA;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.048),
    0 2px 2px rgba(0, 0, 0, 0.039),
    0 6px 5px rgba(0, 0, 0, 0.031);
}

.number{
    height: 100%;
    display: flex;
    align-items: center;
    background: #f4f5f79a;
    color: #161616;
    width: 50px;
}

.header-number{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item-address, .item-dates{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-address{
    width: 100%;
    line-height: 1.2;
    text-align: center;
}

.card-title{
    font-size: 20px;
    color: #0e0a0a;
}

.card-sub-title{
    font-size: 18px;
    color: #bebebe;
}

.index-item-title{
    color: #0e0a0a;
    font-size: 18px;
}

.item-dates{
    width: 40%;
}

.item-offer-det{
    font-style: italic;
}


.half{
    display: flex;
    justify-content: center;
}

#selected-lead{
    background: #f37ba7;
}

.lead-index-item:hover{
    background: #ffc7dc;
}

.lead-index-item:hover, #selected-lead{
    transition: all 0.2s ease-out;
    &.number{
        border-right: 2px solid #f4f5f7;
        border-bottom: 2px solid #f4f5f7;
        background: #f4f5f7;
        opacity: 1;
       box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.07),
        0 1px 1px rgba(0, 0, 0, 0.048),
        0 2px 2px rgba(0, 0, 0, 0.039),
        0 6px 5px rgba(0, 0, 0, 0.031),
        0 15px 15px rgba(0, 0, 0, 0.022);
    }
}