.lead-show-contact-container{
    width: 100%;
    height: 600px;
    margin-top: 10px;
}

.lead-show-contact-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.lead-show-contact-name-email{
    display: flex;
    flex-direction: column;
}

.lead-show-contact-log{
    display: flex;
    flex-direction: column;
}


.comment-box {
    resize: none;
    border: none;
    height: 100%;
    width: calc(100% - 35px);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #7A7A7A;
    box-sizing: border-box;
    padding: 10px;    
}

.comment-box:focus {
    outline: none;
    border-color: #7AB0E6
}

.convo-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.convo-author{
    font-weight: bold;
    letter-spacing: 1;
    font-size: 16px;
    color: #e6a05b;
}

.agent-contact-container{
    height: auto;
    border: 1px solid #d9d9d9;
    background: white;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.07),
    0 2.6px 2.9px rgba(0, 0, 0, 0.048),
    0 5.3px 5.2px rgba(0, 0, 0, 0.039),
    0 11px 10.2px rgba(0, 0, 0, 0.031),
    0 30px 30px rgba(0, 0, 0, 0.022);
}

.contact-log-container{
    border: 1px solid #d9d9d9;
    height: calc(100% - 165px);
    background: white;
    margin-top: 18px;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.07),
    0 2.6px 2.9px rgba(0, 0, 0, 0.048),
    0 5.3px 5.2px rgba(0, 0, 0, 0.039),
    0 11px 10.2px rgba(0, 0, 0, 0.031),
    0 30px 30px rgba(0, 0, 0, 0.022);

}

.conversation-log{
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    line-height: 1;
    overflow-y: auto;
}

.comment-form{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d9d9d9;
}

.comment-button{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(22,22,22);
    color: #ffb56b;
    width: 35px;
    cursor: pointer;
    border: none;
}

