.lead-show-contact-container{
    border: 1px solid #d9d9d9;
    // width: 775px;
    width: 50%;
    height: 750px;
}

.lead-show-contact-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.lead-show-contact-name-email{
    display: flex;
    flex-direction: column;
}

.lead-show-contact-log{
    display: flex;
    flex-direction: column;
}


.comment-box {
    /* Cosmetic */
    margin-left: 30px;
    margin-top: 50px;
    resize: none;

    // border-radius: 7px;
    border-color: #BABABA;
    // box-shadow: 1px 5px 2px #EDEDED;    
    height: 130px;
    width: 300px; /* Was 470px */

    /* Text */
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #7A7A7A;

    padding: 10px;    
}

.comment-box:focus {
    outline: none;
    border-color: #7AB0E6
}