.lead-show-contact-container{
    border: 1px solid #d9d9d9;
    width: 50%;
    height: 750px;
}

.lead-show-contact-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.lead-show-contact-name-email{
    display: flex;
    flex-direction: column;
}

.lead-show-contact-log{
    display: flex;
    flex-direction: column;
}


.comment-box {
    /* Cosmetic */
    // margin-left: 30px;
    // margin-top: 50px;
    resize: none;
    border: none;

    // border-color: #BABABA;
    height: 130px;
    width: calc(100% - 35px); /* Was 470px */
    // width: 300px; /* Was 470px */

    /* Text */
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #7A7A7A;

    padding: 10px;    
}

.comment-box:focus {
    outline: none;
    border-color: #7AB0E6
}

.convo-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
}

.convo-author{
    font-weight: bold;
    letter-spacing: 1;
}

.agent-contact-container{
    height: 115px;
}

.contact-log-container{
    height: 635px;
    overflow-y: auto;
}

.conversation-log{
    height: 435px;
    border-bottom: 1px solid #d9d9d9;
}

.comment-form{
    display: flex;
    flex-direction: row;
}

.comment-button{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 164px;
    background: rgb(22,22,22);
    color: white;
    width: 35px;
    cursor: pointer;
    border: none;
}

