$table-header: rgb(22,22,22);
$table-header-border: white;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

div {
  box-sizing: border-box;
}

.table-container {
  display: block;
  width: 100%;
}

.lead-selector{
    border-bottom:none;

}


.flex-table {
    width: 100%;
    display: flex;
}

.table-header{
    background: rgb(22,22,22);
    color: white;
    border-top: 1px solid white;
}

.flex-row, .lead-selector {
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
}

.flex-row{
    border-bottom: solid 1px $table-border;
}  

.flex-table:last-child{
    border-right: none;
}

.unassigned,.contacted, .counter-received, .counter-responded, 
.under-contract,.closed{
    width: 259px;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px $table-border;
}

.contingencies-removed{
    width: 262px;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px $table-border;
}

.unassigned{
    border-left: 1px solid white; 
}

.unassigned:hover, .contacted:hover, .counter-received:hover, .counter-responded:hover, 
.under-contract:hover,.closed:hover,.contingencies-removed:hover{
    background:white;
    color: rgb(22,22,22);
}



#selected{
    background: white;
    color: rgb(22,22,22);
}


#index{
    width: 50px;
}

#submitted{
    width: 100px;
}

#status, #l-a, #o-l{
    width: 60px;
}
#list-price, #arv, #offered{
    width: 110px;
}

#selected{
    background: white;
    color: rgb(22,22,22);
}
#agent{
    width: 350px;
    background: pink;
}

#agent-name{
    width: 250px;

}

#phone{
    width: 140px;
}

#address{
    width: 416px;
}

#last-contact{
    width: 100px;
    border-right: none;
}