.leads-container{
    display: flex;
    flex-direction: column;
    min-width: 1300px;
    border: 1px solid rgb(22,22,22);
}

.leads-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: rgb(22, 22, 22);
    color: white;
    width: 100%;
    height: 35px;
}

.table-header{
    background: red;
    display: table-row;
    font-weight: bold;
    // text-align: center;

}