
.lead-show-container{
    transition: all .2s ease-in-out;
    width: 0px;
    height: calc(100% - 70px);
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.lead-show-header{
    display: flex;
    justify-content: space-between;
}

.lead-prime-details{
    display: flex;        
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

.lead-show-address{
    font-size: 36px;
}

.show {
    transition: all .2s ease-in-out;
    opacity: 100;
    width: 650px;
    margin-top: 35px;
    margin-right: 35px;
    // box-shadow:
    // 0 1px 1.5px rgba(0, 0, 0, 0.12),
    // 0 2.6px 3.5px rgba(0, 0, 0, 0.055),
    // 0 5.3px 6.2px rgba(0, 0, 0, 0.045),
    // 0 11px 13.2px rgba(0, 0, 0, 0.035),
    // 0 30px 35px rgba(0, 0, 0, 0.027);
}

#close{
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

#sub-date{
    width: 100px;
}

.contact-checkbox, .watched-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-checkbox, .watched-checkbox{
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(22,22,22);
    height: 21px;
    width: 21px;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
}