$table-header: rgb(22,22,22);
$table-header-border: white;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

div {
  box-sizing: border-box;
}

.leads-dash{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-container {
  display: block;
  width: auto;
  height: 100%;
  margin-top: 35px;
  margin-right: 35px;
}

.lead-selector{
    border-bottom:none;
}

.flex-table {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow:
    0 1px 1.5px rgba(0, 0, 0, 0.12),
    0 2.6px 3.5px rgba(0, 0, 0, 0.055),
    0 5.3px 6.2px rgba(0, 0, 0, 0.045),
    0 11px 13.2px rgba(0, 0, 0, 0.035),
    0 30px 35px rgba(0, 0, 0, 0.027);
}

.flex-table-body{
    overflow-y: auto;
    height: calc(100vh - 180px);
    padding-left: 20px;
    padding-right: 20px;
}

.table-header{
    color: white;
    height: 35px;
    background: #0e0a0a;
}

.flex-row, .lead-selector {
  text-align: center;
  padding: 0.5em 0.5em;
  height: 35px;
}


.flex-col{
    display: flex;
    flex-direction: column;
}

.header-data{
    width: 100%;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.header-contact-dates{

}

.header-row{
    text-align: center;
    height: 20px;
    padding: 0.5em 0.5em;
}  

.flex-table:last-child{
    border-right: none;
}

.uncontacted,.contacted, .counter-received, .counter-responded, 
.under-contract,.closed{
    width: 210px;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0.5em;
}

.bin, .watched{
    width: 84px;
    padding: 0.5em 0.5em;
    cursor: pointer;
    text-align: center;
}

.contingencies-removed{
    width: 262px;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0.5em;
}


.uncontacted:hover, .contacted:hover, .counter-received:hover, .counter-responded:hover, 
.under-contract:hover,.closed:hover,.contingencies-removed:hover{
    background: #ffb56b;
    color: #0e0a0a;
}




#selected{
    background: #ffb56b;
    color: #0e0a0a;
}

#index{
    width: 50px;
}

#submitted{
    width: 120px;
}

#status, #l-a, #o-l{
    width: 60px;
}
// #list-price, #arv, #offered{
//     width: 130px;
// }

#offered{
    display: flex;
    flex-direction: column;
}

#agent{
    width: 350px;
    background: pink;
}

#agent-name{
    width: 250px;

}

#phone{
    width: 140px;
}

// #address{
//     width: 500px;
// }

#address{
    width: 300px;
}

#last-contact{
    width: 135px;
}