.file-upload-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(22,22,22);
}

.file-container-left, .file-container-right{
    height: 35px;
    display: flex;
    flex-direction: row;
}


.file-upload-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 35px;
    width:450px;
}

.file-select-button{
    display: flex;
    align-items: center;
    height: 35px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.file-upload-form div {
    height: 100%;
}

.file-preview{
    font-style: italic;
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 15px;
    border-left: 1px solid rgb(22,22,22);
}

.file-upload-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: white;
    background: rgb(22,22,22)
}

.custom-file{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.file-upload-submit{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid rgb(22,22,22);
    cursor: pointer;
}

.file-upload-submit:hover, .file-select-button:hover{
    background: rgb(22,22,22);
    color: white;
}


.new-button {
    display: inline-block;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(22,22,22);
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  left: 0;
  font-size: 15px;
  color: rgb(22,22,22);
}

.button-wrap {
  position: relative;
}


.custom-file-input{
    display: flex;
    justify-content: center;
    height: 35px;
}

.upload-leads-button{
    display: flex;
    justify-content: center;
    border-right: none;
    border-left: 1px solid rgb(22,22,22);
    width: 200px;
    height: 35px;

}