
.stats-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 170px;
	width: 300px;
	box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.048),
    0 6px 5px rgba(0, 0, 0, 0.031),
    0 15px 15px rgba(0, 0, 0, 0.022);
}

.graph-desc{
	font-size: 12px;
	font-weight: bolder;
}