
.stats-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 185px;
	width: 300px;
	box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.07),
    0 2.6px 2.9px rgba(0, 0, 0, 0.048),
    0 5.3px 5.2px rgba(0, 0, 0, 0.039),
    0 11px 10.2px rgba(0, 0, 0, 0.031),
    0 30px 30px rgba(0, 0, 0, 0.022);
}

.graph-desc{
	font-size: 16px;
	font-weight: bolder;

}