html{
    letter-spacing: 1px;
}

.app-container{
    background: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;    
}

.header-container{
    width: 100vw;
    height: 50px; 
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 30px 35px;
}


.splash{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.splash{
    width: 100%;
}

.content-display{
    height: calc(100vw - 65px);
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
}


.splash{
    align-items: center;
}


input{
    background: none;
    border: none;
    height: 55px;
    letter-spacing: 1.5px;
    padding-left: 30px;
}

