body{
    letter-spacing: 1px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.app-container{
    background: white;
    min-width: 1680px;
    display: flex;
    flex-direction: column;    
}

select, select:focus { 
    border: none;
}

svg:hover{
    fill: white;
}

svg{
    fill: #c4c6c9;
}

.header-container{
    width: 100%;
    height: 50px; 
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 30px 35px;
}


.splash{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.splash{
    width: 100%;
}

.content-display{
    height: calc(100% - 65px);
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}


.splash{
    align-items: center;
}


input{
    background: none;
    border: none;
    height: 55px;
    letter-spacing: 1.5px;
    padding-left: 30px;
}

