.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 35px 0px 35px;
}

.logo{
    font-size: 22px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-items{
    display: flex;
    flex-direction: column;
}

.nav-items > li{
    margin-top: 15px;
    text-align: right;
}