

.options > label{
    font-size: 18px;
    display: block;
    cursor: pointer;

}

.menu-dropdown div{
    display: none;

}

#toggle{
    display: none;
}

#toggle:checked + .menu-dropdown div{
    display: block;
}

.menu{
    margin: 0 30px 0 0;
}


.communications-menu{

}



.logout-menu{
    cursor: pointer;

}


